= content_for :title do
  Edita tus datos
  
  
%h3 Edita tus datos:


- semantic_form_for @user, user_path(@user), :html => { :multipart => true }, :method => :put do |form|
  - form.inputs :name => "Avatar" do
    = form.input :avatar, :as => :file, :required => false, :legend => 'File' 
    = form.commit_button
