.wrap
  #fbox1.box2
    %h2
      %b
        Objetivos
    %ul
      %li Completar diseño y navegación de la aplicación.
      %li Añadir varias plantillas a los slideshows.
      %li Traducir a inglés.
      %li Añadir otros sistemas para generar los slideshows: editor html, textile, ¿haml?
      %li Añadir posibilidad de animación por js.
  #fbox2.box2
    %h2
      %b
        Metus
      Nonummy
    %ul
      %li
        %a{ :href => "#" }
          Magna lacus bibendum mauris
      %li
        %a{ :href => "#" }
          Nec metus sed donec
      %li
        %a{ :href => "#" }
          Velit semper nisi molestie
      %li
        %a{ :href => "#" }
          Consequat sed cursus
      %li
        %a{ :href => "#" }
          Eget tempor eget nonummy
  #fbox3.box2
    %h2
      %b
        Metus
      Nonummy
    %ul
      %li
        %a{ :href => "#" }
          Magna lacus bibendum mauris
      %li
        %a{ :href => "#" }
          Nec metus sed donec
      %li
        %a{ :href => "#" }
          Velit semper nisi molestie
      %li
        %a{ :href => "#" }
          Consequat sed cursus
      %li
        %a{ :href => "#" }
          Eget tempor eget nonummy
          
          
%p#legal
  (c) 2009 S5 Generator. Design by
  = link_to 'NodeThirtyThree', 'http://www.nodethirtythree.com'    
  and
  = link_to 'Free CSS Templates', 'http://www.freecsstemplates.org'
  \.